@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Inter:wght@400;500&display=swap');

body {
  background-color: #000000;
  color: #ffffff;
}

.destinations-container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000000;
}

.destinations-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.destinations-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.navigation-arrows .arrow-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-left: 10px;
}

.navigation-arrows .arrow-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 30px;
}
.filter-btn-group {
  display: flex;
  gap: 10px;
}

.filter-btn {
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.filter-btn.active {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.filter-btn:hover {
  background-color: #333333;
}

.filter-btn.active:hover {
  background-color: #ffffff;
}

.destinations-grid {
  display: flex;
  gap: 20px;
  height: 340px;
  overflow-x: auto; /* Allows horizontal scrolling if needed */
  padding-bottom: 10px;
  padding-top: 10px; /* For scrollbar visibility */
}

/* Hide scrollbar for a cleaner look */
.destinations-grid::-webkit-scrollbar {
  display: none;
}

.destinations-grid {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.destination-card {
  position: relative;
  min-width: 220px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

/* .card-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  padding-left: 10px;
} */

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 10px;
  margin: 0;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #ddd;
  padding-left: 10px;
}

/* .card-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  font-weight: 700;
  padding-left: 10px;
  margin: 0;
} */
